/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(BaseForVolk.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .button {
    position: absolute;
    background: url(abxyVolk.png);
}
