/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(BaseForImmenzXbox.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
.xbox .stick {
    position: absolute;
    background: url(stickDone.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 113px;
    left: 288px;
}

.xbox .button {
    position: absolute;
    background: url(abxyVolkdone.png);
}
.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}
.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(triggerDone.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumperDone.png);
    opacity: 0;
}

.xbox .face {
    background: url(dpadDone.png);
    position: absolute;
    opacity: 0;
}